.pom {
    font-family: sans-serif;
    font-size: xx-large;
}

.background {
    background-color: #BFBFBE;
    text-align: center;
    top: 50%;
    left: 50%;
    padding-bottom: fill screen;
}

.signIn {
    margin-top: 2%;
}

.input {
    margin-bottom: 2%;
}

