.mainHeader{
    background-color: #878785;
    text-shadow: 1px 1px 2px #708090;
    padding-top: 2%;
    position: sticky;
    display: block;
    position: -webkit-sticky;
    overflow: hidden;
    border-bottom: 20px black;
    /* flood-opacity: inherit; */
    top: 0;
}
.glass { z-index: 1; }