.Main-Logo {
  height: 100px;
  width: 100px;
}

#addressColumn {
  margin-left: 30%;
}

#formStyle {
  padding-top: 2%;
}

.MainDiv {
  padding-left: 80px;
  padding-right: 80px;
  border-right: 50px solid rgb(0, 43, 56);
  border-left: 50px solid rgb(0, 43, 56);
}
